@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
}

#header {
  grid-area: 1 / 1 / 2 / 2;
  background-color: white; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 2px -2px black;
  margin-bottom: 4px;
}

#content {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 9fr 1fr;
  background: rgb(247, 245, 245);
}

#footer {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#addBook  {
  border: none;
  background: none;
}

#addBookImg {
  height: 5vh;
  width: 5vw;
}

#addBook:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#addBook:active {
  transform: scale(0.97);
}

#popupForm {
  display: none;
  position: fixed;
  bottom: 25vh;
  right: 41.25vw;
  border: 3px solid #f1f1f1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 9;
}

#formContainer {
  max-width: 300px;
  padding: 10px;
  background-color: #f1f1f1;
}

#formContainer input[type=text], input[type=number] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#formContainer input[type=text]:focus, input[type=number]:focus {
  background-color: #ddd;
  outline: none;
}

#formContainer #submit {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#formContainer #cancel {
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#formContainer #submit:hover, #cancel:hover {
  opacity: 0.8;
}

#bookList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1%;
  grid-area: 1 / 1 / 2 / 2;
  gap: 1vw;
}

#addBookButton {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 1 / 3 / 2 / 3;
}
.book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 12.5vw;
  height: 30vh;
  background-color: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.remove {
  width: 100%;
  height: 12.5%;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.remove:hover {
  opacity: 0.8;
}

.changeRead {
  width: 100%;
  height: 12.5%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  gap: 0;
}

.changeRead:hover {
  opacity: 0.8;
}

.book h3 {
  padding: 0;
  margin: 0;
}

.book p {
  padding: 0;
  margin: 0;
}